* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2";
  transition: 200ms;
}


:root {
  --bg: #000000;
  --bgSection: rgb(44, 44, 44);
  --text: #ffffff;
  --fill: #ffffff;
  --profilebg: #141414;
  --headerbg: #1a1919;
  --borderCard: rgba(255, 255, 255, 0.336);
  --borderBtm: #303030;
  --hoverBg: #252424;
  --shadows: rgba(0, 0, 0, 0.17)
}

[data-theme="lightmode"] {
  --bg: #ffffff;
  --text: #000000;
  --fill: #000000;
  --profilebg: #ffff;
  --borderCard: rgba(0, 0, 0, 0.123);
  --headerbg: #ffff;
  --borderBtm: #303030;
  --hoverBg: #a3a3a3;
  --bgSection: rgb(255, 255, 255);
  --shadows: rgba(0, 0, 0, 0)
}


body {
  background-color: var(--bg);
  color: #1f2937;
  animation-name: fadeIn;
  animation-duration: 300ms;
}
section a {
  color: white
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2%;
  height: 9vh;
  z-index: 100000;
  border-bottom: 1px solid #bebcbc56;
  background: var(--bg);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  
}

.navbar svg{
  fill: var(--fill);
  color: var(--text);
}

.navbar nav {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  width: 90px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}

nav a {
  margin-left: 18px;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}
footer img {
  width: 20%;
}

/* Buttons */
.btn {
  background: #2563eb;
  color: white;
  padding: 12px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: 0.2s ease;
}

.btn:hover {
  background: #1d4ed8;
}

.btn.outline {
  background: transparent;
  border: 2px solid #2563eb;
  color: #2563eb;
}

.btn.outline:hover {
  background: #2563eb;
  color: var(--text);
}

.btn.small {
  padding: 8px 14px;
  border-radius: 8px;
}

/* Hero */
.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 60px 8%;
}

.hero-content {
  flex: 1;
  min-width: 280px;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  color: var(--text);
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.hero-card {
  flex: 0.9;
  min-width: 260px;
  background: var(--fill);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.07);
}

.hero-card h3 {
  margin-bottom: 12px;
  color: var(--text);
}


/* Sections */
.section {
  padding: 60px 8%;
  text-align: center;
  background-color: var(--bg);
}

.section h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--text);
}

.subtitle {
  color: var(--text);
  margin-bottom: 35px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 18px;
}

/* Cards */
.card {
  background: var(--bg);
  border-radius: 16px;
  height: 40vh;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  transition: 0.2s ease;
  border: 2px solid var(--borderCard);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  

}

.card div{

  padding: 22px;
  position: relative;
  height: 100%;
  border-radius: 16px;
  height: 100%;
  width:100%;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.353);

}

.custom-swal {
  background: var(--bg);
  color: var(--text);
}

.swal-row {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.swal-row label {
  font-size: 14px;
  color: var(--text);
}


.swal-row input {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid var(--borderCard);
  background: var(--bg);
  color: var(--text);
}


.swal-row input:focus {
  outline: none;
  border-color: var(--text);
}

.card:nth-child(1) {
  background-image: url("https://cdn.discordapp.com/attachments/1467821691089453079/1468220006369067152/chemical-engineering-assignment.png?ex=6983e2af&is=6982912f&hm=72caf6e07b73e2686e9154176413b707f709c5da3d0c621be9d813a75cf8490f&");
  background-position: center;
}
.card:nth-child(2) {
  background-image: url("https://media.discordapp.net/attachments/1467821691089453079/1468220006717460523/Fotolia_76098516_Subscription_Monthly_M.png?ex=6983e2af&is=6982912f&hm=3fa4282171a2e5e6bac4156d3944401041a09afa6c31099687dea68321013fd2&=&format=webp&quality=lossless&width=810&height=535");
  background-position: center;
}
.card:nth-child(3) {
  background-image: url("https://media.discordapp.net/attachments/1467821691089453079/1468220007258259668/wk-Grading-Scale-Change-1024x602.png?ex=6983e2af&is=6982912f&hm=ad22b37a52aeb64452bd68e4c0036ad8f591417e359429150e8838bd41164b8b&=&format=webp&quality=lossless&width=810&height=476");
  background-position: center;
}
.card:nth-child(4) {
  background-image: url("https://media.discordapp.net/attachments/1467821691089453079/1468220007891865660/iStock_000042222888_Medium_160304.png?ex=6983e2b0&is=69829130&hm=0420588339b13efbea1dbb74536fe46507013866f797d0220e3987690258cd30&=&format=webp&quality=lossless&width=800&height=425");
  background-position: center;


}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 10px;
  color: white;

}

.card p, .class-card p {
  color: white;
}


/* Links */
.link {
  display: inline-block;
  margin-top: 14px;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

/* CTA */
.cta {
  background: #2563eb;
  color: white;
  text-align: center;
  padding: 60px 8%;
}

.cta h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.cta p {
  margin-bottom: 20px;
  font-size: 18px;
  opacity: 0.95;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: var(--bg);
  color: var(--text);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
