/* vi använder tailwind för enekl design  */
@import "tailwindcss";

* {
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
   user-select: none !important;
   box-sizing: border-box;
   font-family: "Exo 2";
}

body {
   background-color: #141414;
}

header {
   position: relative;
   height: 10vh;
   backdrop-filter: blur(20px);
   width: 100%;
   border-bottom: 1px solid #303030;
}

header>img {
   position: absolute;
   top: 55%;
   transform: translate(0, -50%);
   width: 100px;
}
