/* vi använder tailwind för enekl design
@import "tailwindcss"; */

* {
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
   user-select: none !important;
   box-sizing: border-box;
   font-family: "Exo 2";
   transition: 200ms;

}
.klasser-remove {

   top: 2.8vh;
   height: 1.5vw;
   width:2.5vw;
   margin-left: 90%;
   position: absolute;
}



:root {
   --bg: #000000;
   --text: #ffffff;
   --fill: #ffffff;
   --profilebg: #141414;
   --headerbg: #1a1919;
   --borderBtm: #303030;
   --hoverBg: #252424;
   --shadows: rgba(0, 0, 0, 0.17)
 }

 [data-theme="lightmode"] {
   --bg: #ffffff;
   --text: #000000;
   --fill: #000000;
   --profilebg: #ffff;
   --headerbg: #ffff;
   --borderBtm: #303030;
   --hoverBg: #a3a3a3;
   --shadows: rgba(0, 0, 0, 0)
 }

.opacityLow {
   transition: all ease-in 90ms;
   cursor: pointer;
}

.opacityLow:hover {
   opacity: 60%;
}

*::-webkit-scrollbar-track {
   width: 0.5rem;
   background-color: var(--bg);
}
*::-webkit-scrollbar {
   width: 0.2vw;
}
*::-webkit-scrollbar-thumb {
   width: 0.1vw;
   background-color: rgba(111, 111, 111, 0.634);
}

body::-webkit-scrollbar-track {
   width: 0;
   background-color: transparent;
}
body::-webkit-scrollbar {
   width: 0;
}
body::-webkit-scrollbar-thumb {
   width: 0;
   background-color: transparent;
}

body {
   background-color: var(--bg);
   color: var(--text);
}

main {
   position: absolute;
   display: flex;
   top: 15%;
   align-items: center;
   flex-direction: column;
   gap: 25px;
   width: 84%;
   left: 16%;
   overflow-y: auto;
   padding-bottom: 2vh;
  
   transition: all ease-in 100ms;
}

header {
   position: fixed;
   top: 0;
   height: 10%;
   backdrop-filter: blur(20px);
   width: 100%;
   background-color: var(--headerbg);
   z-index: 10;
   border-bottom: 1px solid --var(--borderBtm);
}

.burger-menu {
   height: 100%;
   width: 2%;
   padding: 0.1%;
   position: absolute;
   left: 1.4%;
   display: inline-block;
   transition: all ease-in 100ms;
   cursor: pointer;
}

header>img {
   position: absolute;
   top: 55%;
   width: 90px;
   transform: translate(0, -50%);
   padding-left: 16.5px;
   left: 3%;
   filter: drop-shadow(0px 0px 10px #006aff);
}

.vit-tema {
   background-color: white;
   color:black;
   fill: black;
}

.add-lektion {
   position: absolute;
   left: 91%;
   top: 38%;
   transition: 200ms ;
}

.tema {
   position: absolute;
   left: 88%;
   top: 38%;
   transition: 200ms ;
}

.add-lektion:hover {
   transform: rotate(225deg);
   opacity: 80%;
}

.header-profile {
   position: absolute;
   top: 50%;
   right: 2.8vw;
   transform: translate(0, -50%);
   width: 2.8vw;
   height: 2.8vw;
   border-radius: 50%;
   background-color: var(--bg);
   color: var(--text);
   border: 1px solid #303030;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px;
   z-index: 99999;
   transition: all 180ms cubic-bezier(.17,.67,.83,.67);
   cursor: pointer;
}

.header-profile-exit {
   position: absolute;
   top: 0;
   right: 0;
   width: 4vw;
   height: 5%;
   border-bottom-left-radius: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 0.2vw;
   border-bottom: 1px solid #6a6969;
   border-left: 1px solid #6a6969;
   border-top-right-radius: 8px;
   background-color: var(--bg);
   display: none;
}

.header-profile-exist-letter {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: var(--text);
   font-size: 16px;
   font-weight: 600;
}

.header-email {
   position: absolute;
   top: 8vh;
   left: 50%;
   transform: translate(-50%);
   font-weight: 500;
   display: none;
   color: var(--text);
}

.header-velkommen {
   position: absolute;
   top: 25vh;
   left: 50%;
   transform: translate(-50%);
   font-weight: 500;
   color: var(--text)   ;
   display: none;
}


.header-profile-secondProfile {
   position: absolute;
   top: 50%;
   right: 2.8vw;
   transform: translate(0, -50%);
   width: 4.8vw;
   height: 4.8vw;
   border-radius: 50%;
   background: #141414;
   border: 1px solid #303030;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px;
   z-index: 99999;
   transition: all ease-in 340ms;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}

.header-betyger {
   position: absolute;
   top: 35%;
   left: 0;
   width: 100%;
   height: 62%;
   overflow-y: auto;
   display: none;
}

.header-betyger-betyg {
   position: relative;
   top: 0;
   left: 50%;
   transform: translate(-50%);
   width: 95%;
   height: 6.2vh;
   margin-bottom: 5px;
   border-bottom: var(--borderBtm);

}

.header-betyger-betyg>h1 {
   position: absolute;
   top: 0.4vh;
   left: 0vw;
   font-size: 15px;
   font-weight: 400;
   color: var(--text);
}

.header-betyger-betyg>h2 {
   position: absolute;
   bottom: 0.4vh;
   left: 0vw;
   font-size: 14px;
   font-weight: 400;
   color: var(--text);

   opacity: 0.6;
}

.header-betyger-betyg-box {
   position: absolute;
   top: 50%;
   right: 0vw;
   transform: translate(0, -50%);
   width: 2vw;
   height: 2vw;
   border-radius: 2px;
   border: 1px solid #20ca26;
   background-color: #20ca2691;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 18px;
}

.betyg-rod {
   background-color: #ff00008f;
   border: 1px solid #ff0000;
}

nav {
   position: fixed;
   top: 10%;
   left: 0;
   z-index: 1000;
   width: 16%;
   height: 91%;
   background-color: var(--bg);
   border-right: 1px solid --var(--borderBtm);
   display: flex;
   flex-direction: column ;
   align-items: center;
   overflow-y: auto;
   padding-bottom: 2vh;
   transition: 200ms;
}

h1 {
   font-weight: 400;
}

.lektioner {
   height: 40px;
   flex-shrink: 0;
   border-radius: 100px ;
   margin-top: 5px;
   transition: 200ms;
   position: relative;
   display: flex;
   gap: 6px;
   width: 94%;
   align-items: center;
   padding-left: 20px;
   cursor: pointer;
}
.lektioner div {
   width: 2vw;
   height: 2vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.lektioner h1 {
   font-size: 14.5px;
   font-weight: 400;
   fill: #dededeaf !important;
}

.lektioner:hover {
   background-color: var(--hoverBg);
   opacity: 80%;
}

.logo-letkioner {
   width: 2vw;
   height: 2vw;
   font-size: 13px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 15px;
   font-family: 700;
   background-color: #752e9b8e;
   border: 1px solid #752E9B;
}

.klasser-wrapper {
   width: 94%;
   padding: 1%;
   padding-top: 0.1%;
   height: auto;
   min-width: none;
   position: relative;
   padding-bottom: 9.2vh;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   backdrop-filter: blur(11px);
   border-radius: 10px ;
   border: 1px solid #605e5e;

}

.klasser-wrapper-footerInfo {
   position: relative;
   top: 8vh;
   left: 0;
   width: 100%;
   height: max-content;
   /* padding-bottom: 5vh; */
   display: none;
}

section {
   position: absolute;
   top: 1.2vh;
   justify-content: center;
   flex-direction: column;
   color: #ffffffc0;
}

section h1{
   font-size: 22px;
   color: var(--text);
}

section h2 {
   font-weight: 300;
   font-size: 13px;
   opacity: 0.8;
   font-family: "Poppins";
   color: var(--text);
}

.klasser-arrow {
   position: absolute;
   top: 1.8vh;
   height: 2.5vw;
   width:2.5vw;
   margin-left: 94%;
}

.notis {
   left: 97%;
   transform: translate(0px, -30px);
}
.notis h4 {
   font-size: 14px;
}