@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Geist-Light";
  src: url(/static/fonts/Geist-Light.ttf);
}
@font-face {
  font-family: "Geist-Medium";
  src: url(/static/fonts/Geist-Medium.ttf);
}
@font-face {
  font-family: "Geist-Regular";
  src: url(/static/fonts/Geist-Regular.ttf);
}
@font-face {
  font-family: "Geist-SemiBold";
  src: url(/static/fonts/Geist-SemiBold.ttf);
}
@font-face {
  font-family: "GeistMono";
  src: url(/static/fonts/GeistMono.woff2);
}
@font-face {
  font-family: "InterSpecial";
  src: url(/static/fonts/Inter.woff2);
}
@font-face {
  font-family: "Inter-Light";
  src: url(/static/fonts/Inter-Light.ttf);
}
@font-face {
  font-family: "Inter-Medium";
  src: url(/static/fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: "Inter-Regular";
  src: url(/static/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url(/static/fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(/static/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(/static/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(/static/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(/static/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Orbitron-Regular";
  src: url(/static/fonts/Orbitron-Regular.ttf);
}
@font-face {
  font-family: "Orbitron-Medium";
  src: url(/static/fonts/Orbitron-Medium.ttf);
}
@font-face {
  font-family: "Orbitron-SemiBold";
  src: url(/static/fonts/Orbitron-SemiBold.ttf);
}
@font-face {
  font-family: "Orbitron-Bold";
  src: url(/static/fonts/Orbitron-Bold.ttf);
}
