* {
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
   user-select: none !important;
   box-sizing: border-box;
   font-family: "Exo 2";
   transition: 200ms;
   overflow: hidden;
}
:root {
   --bg: #000000;
   --bgSection: rgb(44, 44, 44);
   --text: #ffffff;
   --fill: #ffffff;
   --profilebg: #141414;
   --headerbg: #1a1919;
   --borderCard: rgba(255, 255, 255, 0.336);
   --borderBtm: #303030;
   --hoverBg: #252424;
   --shadows: rgba(0, 0, 0, 0.17)
 }
 
 [data-theme="lightmode"] {
   --bg: #ffffff;
   --text: #000000;
   --fill: #000000;
   --profilebg: #ffff;
   --borderCard: rgba(0, 0, 0, 0.123);
   --headerbg: #ffff;
   --borderBtm: #303030;
   --hoverBg: #a3a3a3;
   --bgSection: rgb(255, 255, 255);
   --shadows: rgba(0, 0, 0, 0)
 }
/* .opacityLow {
   transition: all ease-in 90ms;
   cursor: pointer;
}

.opacityLow:hover {
   opacity: 60%;
} */

*::-webkit-scrollbar-track {
   width: 0.5rem;
   background-color: var(--bg);
}
*::-webkit-scrollbar {
   width: 0.2vw;
}
*::-webkit-scrollbar-thumb {
   width: 0.1vw;
   background-color: rgba(111, 111, 111, 0.634);
}

body {
   background-color: var(--bg);
}
#info {
   position: absolute;
   left: 65%;
   height: 100vh;
   width: 35%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-image: url("../assets/shutterstock_1958383675-crop.webp");
   /* background-position: center; */
   background-size: cover;
   border-right: 1px solid var(--borderBtm);
   background-color: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(50px);
   -webkit-backdrop-filter: blur(50px);
   z-index: 10;
}
#info div {
   height: 100%;
   width: 100%;
   backdrop-filter: blur(15px);
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#info h1 {
   color: black;
   
   position: absolute;
   top: 50%;

   transform: translate(0%, 50%);
   width: 100%;
   text-align: center;

   
}

img {
   position: relative;
   top: -30px;
   left: 50%;
   transform: translate(-50%);
   width: 200px;
}

.signup-label {
   position: absolute;
   top: 190px;
   left: 50%;
   transform: translate(-50%);
   width: max-content;
   font-size: 20px;
   font-weight: 500;
   color: var(--text);
}

.signup-wrapper {
   position: absolute;
   top: 50%;
   left: 17%;
   transform: translate(0%, -50%);
   width: 28vw;
   min-height: 10vh;
   padding: 0.8vw;
   padding-bottom: 4vh;
   /* padding-bottom: 2vh; */
   height: max-content;
   background-color: var(--bg);
   border: 1px solid var(--borderBtm);
   border-radius: 16px;
   height: 54vh;
}

.signup-wrapper > h2 {
   font-weight: 500;
   font-size: 28px;
   text-align: center;
}

.signup-wrapper>span {
   font-size: 14px;
   font-weight: 500;
   text-align: center;
   position: absolute;
   left: 50%;
   margin-top: 5px;
   transform: translate(-50%);
}

.signup-wrapper > h2,span {
   color: var(--text);
}

.signup-wrapper-inputWrapper {
   position: relative;
   top: 2.4vh;
   left: 0vw;
   width: 100%;
   height: 8.6vh;
   margin-bottom: 1vh;
   margin-top: 2vh;
}

.signup-wrapper-inputWrapper>h4 {
   position: absolute;
   top: 0vh;
   left: 0.2vw;
   height: 30%;
   font-size: 16px;
   font-weight: 400;
   color: var(--text);
}

.inclass {
   position: absolute;
   bottom: 0vh;
   left: 0.2vw;
   width: 98%;
   height: 65%;
   border-radius: 3px;
}

.signup-wrapper-inputWrapper:nth-last-child(1) {
   height: 10vh;
   position: absolute;
   transform: translate(-50%, 350%);
   width: 95%;
   left: 50%
}

.signup-wrapper-inputWrapper>input {
   background-color: var(--bg);
   border: 1px solid #303030;
   padding-left: 6px;
   color: var(--text);
}

.signup-wrapper-inputWrapper>input:focus {
   border-color: #006aff;
}

.signup-wrapper-inputWrapper>button {
   background-color: var(--bg);
   border: 1px solid #303030;
   color: var(--text);
   cursor: pointer;

}

.signup-wrapper-inputWrapper>button:hover {
   background-color: #006aff;
   color: #fff;
   outline: none;
}

.createButton:hover {
   color: #006aff;
   text-decoration: underline;
   cursor: pointer;
}

.custom-swal {
   background: var(--bg);
   color: var(--text);
 }

 .swal-row {
   display: grid;
   grid-template-columns: 80px 1fr;
   align-items: center;
   gap: 10px;
   margin-bottom: 12px;
 }
 
 /* Labels */
 .swal-row label {
   font-size: 14px;
   color: var(--text);
 }
 
 /* Inputs */
 .swal-row input {
   padding: 6px 8px;
   border-radius: 6px;
   border: 1px solid var(--borderBtm);
   background: var(--bg);
   color: var(--text);
 }
 
 /* Focus */
 .swal-row input:focus {
   outline: none;
   border-color: var(--text);
 }


 .swal2-container {
   z-index: 9999999 !important;     
 }


 .swal2-popup  {
   border: 1px solid var(--borderBtm);
   border-radius: 16px;
 }

 .swal2-popup {
   
   background-color: var(--bg);
   color: var(--text);

}

.swal2-popup input{
   
   background-color: var(--bg);


}

@media (max-width: 800px) {
   #info {
      display: none;
   }
   .signup-wrapper {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 90vh;

   }
   .signup-wrapper-inputWrapper:nth-last-child(1) {
      height: 10vh;
      position: absolute;
      transform: translate(-50%, 650%);
      width: 95%;
      left: 50%
   }

   .signup-wrapper-inputWrapper {
      margin-top: 7%;
   }
}